@model PetPickr.Models.CatDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CatDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
