@model PetPickr.Models.DogDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DogDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogBreed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogBreed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
