@model PetPickr.Models.ShelterDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShelterDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShelterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelterAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShelterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
